/**
 * Created by wangyang on 2019-01-23.
 * itwangyang@gmail.com
 * http://itwangyang.xyz
 */
.fontcolor20 {
  color: #202020;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}
.navbar-light .navbar-nav .nav-link {
  color: #202020;
}
textarea {
  font-size: 14px;
  color: #202020;
}
.fontSize18 {
  font-size: 18px;
}
.fontSize16 {
  font-size: 16px;
}
.fontSize14 {
  font-size: 14px;
}
.hr-line-dashed {
  border-bottom: 1px dashed #d3d3d3;
}
img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.flexBox-space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flexBox-column-flex-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.flexBox-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flexBox-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexBox-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.flexBox-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/*==========================================ticket-top================================================*/
.ticket-top {
  background-color: #0083c6;
}
.ticket-top a {
  height: 30px;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  margin-right: 60px;
}
/*==========================================navbar-meau================================================*/
.navbar-meau {
  border-bottom: 2px solid #f0fafe;
}
.navbar-meau .bg-light {
  background-color: #fff !important;
}
.navbar-meau .active {
  color: #218afd;
  border-bottom: 2px solid #218afd;
}
.navbar-meau .navbar-light .navbar-nav .active > .nav-link,
.navbar-meau .navbar-light .navbar-nav .nav-link.active,
.navbar-meau .navbar-light .navbar-nav .nav-link.show,
.navbar-meau .navbar-light .navbar-nav .show > .nav-link {
  color: #218afd;
}
.navbar-meau li.nav-item {
  text-align: center;
  margin: 0 20px;
}
.navbar-meau a {
  font-size: 16px;
  color: #202020;
}
.navbar-meau .navbar-light .navbar-nav .nav-link:focus,
.navbar-meau .navbar-light .navbar-nav .nav-link:hover {
  color: #218afd;
}
.navbar-meau .login-btn,
.navbar-meau .reg-btn {
  width: 111px;
  height: 40px;
  line-height: 20px;
  border-radius: 10px;
}
.navbar-meau .reg-btn {
  margin-left: 20px;
}
/*==========================================login================================================*/
.login .forget-pwd {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}
.login .rembel-pwd {
  font-size: 14px;
  margin-left: 5px;
  color: #202020;
}
.login .forget-pwd a {
  color: #202020;
}
.login .reg-number {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #218afd;
}
/*==============================footer===========================================*/
footer {
  height: 260px;
  background-color: #323232;
}
footer .footer p {
  font-size: 18px;
  color: #fff;
}
footer .footer .navbar-bottom-item a {
  font-size: 14px;
  color: #c4c4c4;
}
footer .footer p.tel {
  font-size: 30px;
}
.forgetPwd {
  border: 2px solid #f0fafe;
  justify-content: center;
}
.forgetPwd .logo-center {
  text-align: center;
  display: flex;
  justify-content: center;
}
.reg1 {
  border: 2px solid #f0fafe;
}
.reg1 .text-active {
  color: #218afd !important;
}
.reg1 .text-font-size {
  font-size: 14px;
  color: #575757;
  width: 200px;
  margin-left: -12px;
  margin-top: 15px;
}
.reg1 span.border {
  border: 2px solid #f4f4f4;
}
.reg1 .fa-stack {
  position: relative;
  vertical-align: middle;
  width: 29px;
  height: 29px;
  line-height: 40px;
  display: flex;
  align-items: center;
}
.reg1 .fa-lg {
  font-size: 0.8em;
}
.reg1 .my-success-reg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reg1 .my-success-reg label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  line-height: 47px;
  color: #202020;
  font-size: 14px;
}
.reg1 .my-success-reg input {
  font-size: 14px;
}
.breadNavigationBar {
  height: 60px;
  display: flex;
  align-items: center;
}
.reg2 .file-img {
  width: 254px;
  height: 196px;
  border: 1px dashed #d3d3d3;
}
.reg2 .file-img img.haha {
  width: 254px;
  height: 196px;
}
.reg2 .textarea-address {
  font-size: 16px;
  color: #202020;
}
.reg2 .isModal2,
.reg2 .isModal3 {
  display: none;
}
.reg2 .my-success-reg1 label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  line-height: 47px;
  color: #202020;
  font-size: 14px;
}
.reg2 .my-success-reg1 input {
  font-size: 14px;
}
.reg2 .radio-group li {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 40px;
  margin-right: 40px;
  margin-left: 20px;
}
.reg2 .radio-group li label {
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  vertical-align: middle;
  margin-top: 10px;
}
.reg2 .radio-group li input {
  height: 40px;
  line-height: 40px;
}
/*# sourceMappingURL=style.css.map */