/**
 * Created by wangyang on 2019-01-23.
 * itwangyang@gmail.com
 * http://itwangyang.xyz
 */
@mainColor: #218afd;
@mainColorSize: #202020;
.mainColor{
    color: #218afd;
}
.fontcolor20{
    color: #202020;
}
.fontColor57{
    color: #575757;
}
.custom-select{
    .fontSize14;
    .fontColor57;
}
a{
    text-decoration: none !important;
    cursor: pointer;
}
.navbar-light .navbar-nav .nav-link {
    color: @mainColorSize;
}
textarea{
    .fontSize14;
    color: @mainColorSize;
}
.fontSize18 {
    font-size: 18px;
}

.fontSize16 {
    font-size: 16px;
}

.fontSize14 {
    font-size: 14px;
}
.hr-line-dashed{
    border-bottom: 1px dashed #d3d3d3;
}
//img, .img-responsive, .thumbnail a > img, .thumbnail > img {
//    display: block;
//    max-width: 100%;
//    height: auto
//}

.nowrap{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.flexBox-space-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flexBox-column-flex-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.flexBox-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flexBox-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexBox-row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.flexBox-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}


/*==========================================ticket-top================================================*/
.ticket-top {
    background-color: #0083c6;

    a {
        height: 30px;
        color: #fff;
        font-size: 14px;
        line-height: 30px;
        margin-right: 60px;
    }
}


/*==========================================navbar-meau================================================*/
.navbar-meau {
    .bg-light {
        background-color: #fff !important;
    }
    border-bottom: 2px solid #f0fafe;

    .active{
        color: @mainColor;
        border-bottom: 2px solid @mainColor;
    }
    .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
        color: @mainColor;
    }
    li.nav-item {
        text-align: center;
        margin: 0 20px;
    }

    a {
        .fontSize16;
        color: @mainColorSize;
    }

    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: @mainColor;
    }

    .login-btn,.reg-btn{
        width: 111px;
        height: 40px;
        line-height: 20px;
        border-radius: 10px;
    }
    .reg-btn{
        margin-left: 20px;
    }
}

/*==========================================login================================================*/
.login{
    .forget-pwd{
        display: flex;
        justify-content: flex-end;
        font-size: 14px;
    }
    .rembel-pwd{
        .fontSize14;
        margin-left: 5px;
        color: @mainColorSize;
    }
    .forget-pwd{
        a{
            color: @mainColorSize;
        }
    }
    .reg-number{
        height: 60px;
        .flexBox-center;
        font-size: 14px;
        color: @mainColor;

    }
}



/*==============================footer===========================================*/
footer{
    height: 260px;
    background-color: #323232;
    .footer{
        p{
            .fontSize18;
            color: #fff;
        }
        .navbar-bottom-item{
            .fontSize14;
            color: #c4c4c4;
            a{
                .fontSize14;
                color: #c4c4c4;
            }

        }
        p.tel{
            font-size: 30px;
        }

    }
}


.forgetPwd{
    border: 2px solid #f0fafe;
    justify-content: center;
    .logo-center{
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

.reg1{
    border: 2px solid #f0fafe;
    .text-active{
        color: @mainColor !important;
    }
    .text-font-size{
        .fontSize14;
        color: #575757;
        width: 200px;
        margin-left:-12px;
        margin-top: 15px;
    }
    span.border {
        border: 2px solid #f4f4f4;
    }

    .fa-stack {
        position: relative;
        vertical-align: middle;
        width: 29px;
        height: 29px;
        line-height: 40px;
        display: flex;
        align-items: center;
    }
    .fa-lg {
         font-size: .8em;
    }
    .my-success-reg{
        .flexBox-center;
        label{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            line-height: 47px;
            color: @mainColorSize;
            .fontSize14;
        }
        input{
            .fontSize14;
        }
    }

}

.breadNavigationBar{
    height: 60px;
    display: flex;
    align-items: center;
}

.reg2{
    .file-img{
        width: 254px;
        height: 196px;
        border: 1px dashed #d3d3d3;
        img.haha{
            width: 254px;
            height: 196px;
        }
    }
    .textarea-address{
        .fontSize16;
        color: @mainColorSize;
    }
    .isModal2,.isModal3,.isModal5,.isModal6{
        display: none;
    }

    .my-success-reg1{
        label{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            line-height: 47px;
            color: @mainColorSize;
            .fontSize14;
        }
        input{
            .fontSize14;
        }
    }
    .radio-group{

        li{
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            line-height: 40px;
            margin-right: 40px;
            margin-left: 20px;
            label{
                height: 40px;
                line-height: 40px;
                margin-left: 10px;
                vertical-align: middle;
                margin-top: 10px;
            }
            input{
                height: 40px;
                line-height: 40px;
            }
        }

    }
}


/*index*/
.announcement{

    .announcement-content{
        .flexBox-row;
        .text-w{
            width: 350px;
        }
    }

}


.online-trading-steps{
    height: 127px;
    border-radius: 10px;
    border: 4px solid #f0fafe;
    .steps3{
        width: 165px;
        color: #ffa63c;
        font-size: 32px;
        padding: 8px 15px;
        border-right: 1px solid #d3d3d3;
    }
    .one-way{
        
    }

}


